<!DOCTYPE html>
{% autoescape true %}
<html lang="en">

{###############################################################################
# SHARED HIDDEN TEMPLATE FIELDS
# Put this at the start of the form otherwise it might override the non-hidded
#   fields in the form.
###############################################################################}
{% block form_hidden_fields %}

<input type="hidden" name="go_to_payment_clicked_name" value="True">
<input type="hidden" name="performance_id" value={{performance_id}}>
<input type="hidden" name="product" value="{{product_value}}">

<input type="hidden" name="name_on_ticket_name"
    value="{{name_on_ticket_value}}">

<input type="hidden" name="show_id" value={{show_id}}>
<input type="hidden" name="total_cost" value="{{total_cost_value}}">

<input type="hidden" id="currency" name="currency"
    size="3" maxlength="3" value="gbp" data-numeric required />

{% for item in get_products_selected %}
<input value="{{item['number_of_item']}}" type ="hidden"
    name="{{item['item']}}">
{% endfor %}

{% endblock %}
{##############################################################################}
<head>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Tickets</title>

  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    // Stripe.setPublishableKey('pk_test_QoFdqP4bCXiGXkwHA1Nw8JmN');
    Stripe.setPublishableKey('{{stripe_publishable_key}}');

    var stripeResponseHandler = function(status, response)
    {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
</head>

<hr>

<center>
<h2>
Select Show
</h2>
<!---------------------->
<!-- Select show form -->
<!---------------------->
<form method="get" action="/buy_tickets#information">

  {{ self.form_hidden_fields() }}

  <!-- Table -->
  <table align="center" border="1">
  {% for show in shows_list %}
    <!-- Row -->
    <tr>
      <!-- Col -->
        <td align="center">
        {% if show_id == show['show_id'] %}
          <input type="radio" name="show_id" value="{{show['show_id']}}" checked>
        {% else %}
          <input type="radio" name="show_id" value="{{show['show_id']}}">
        {% endif %}
        </td>
      <!-- Col -->
        <td align="center">
        {{show['title']}}<br>
        </td>
    </tr>
  {% endfor %}
  </table>

    <!-- Button -->
    <input type="submit" value="Next">
</form>
<!-- Form end -->

<hr>

<h2 id="information">
{{title_for_selected_show}}
</h2>
<h2>
Information for select show
</h2>
{{information_about_the_selected_show_using_show_id['short_description']}}<br>
{{information_about_the_selected_show_using_show_id['website']}}<br>
{{information_about_the_selected_show_using_show_id['twitter']}}<br>
{{information_about_the_selected_show_using_show_id.facebook_text}}
{{information_about_the_selected_show_using_show_id.facebook_web_address}}<br>
<br>
{{information_about_the_selected_show_using_show_id.show_description}}

<h2>
Times for selected show
</h2>

<!---------------------->
<!-- Select show time -->
<!---------------------->
<form method="get" action="/buy_tickets#performance_info">


  {{ self.form_hidden_fields() }}

  <table align="center" border="1">
    <!-- Row 1 -->
    <tr>
    <!-- Col 1 --> <td align="center"></td>
    <!-- Col 1 --> <td align="center">Date</td>
    <!-- Col 2 --> <td align="center">Time</td>
    <!-- Col 3 --> <td align="center">Venue</td>
    </tr>
    {% for performance in show_times_for_selected_show_using_show_id %}
      <tr>
      {% if performance_id == performance['id'] %}
      <!-- Col 1 --> <td align="center"><input type="radio" name="performance_id" value="{{performance['id']}}"checked></td>
      {% else %}
      <!-- Col 1 --> <td align="center"><input type="radio" name="performance_id" value="{{performance['id']}}"></td>
      {% endif %}
      <!-- Col 1 --> <td align="center">{{performance['date']}}</td>
      <!-- Col 2 --> <td align="center">{{performance['show_start']}}</td>
      <!-- Col 3 --> <td align="center">{{performance['venue']}}</td>
      </tr>
    {% endfor %}
  </table>
  <!-- Button -->
  <input type="submit" value="Next">
</form>
<!-- end form -->

<hr>
</center>


<center>
<h2 id="performance_info">
{{title_for_selected_show}}
</h2>
<h2>
Performance information
</h2>

<table align="center" border="1">
  <!-- Row 1 -->
  <tr>
    <td align="center">Date</td><td align="center">{{performance_information['date']}}</td>
  </tr>

  <tr>
    <td align="center">Doors</td><td align="center">{{performance_information['doors']}}</td>
  </tr>

  <tr>
    <td align="center">Start</td><td align="center">{{performance_information['show_start']}}</td>
  </tr>

  <tr>
    <td align="center">Finish</td><td align="center">{{performance_information['show_finish']}}</td>
  </tr>

  <tr>
    <td align="center">Admission</td><td align="center">£{{performance_information_general_admission_price}}</td>
  </tr>

  <tr>
    <td align="center">Face value</td><td align="center">£{{performance_information_general_admission_face_value}}</td>
  </tr>

  <tr>
    <td align="center">Concession</td><td align="center">£{{performance_information_concession_admission_price}}</td>
  </tr>

  <tr>
    <td align="center">Concession face value</td><td align="center">£{{performance_information_concession_admission_face_value}}</td>
  </tr>

  <tr>
    <td align="center">Venue</td><td align="center">{{performance_information['venue']}}</td>
  </tr>

  <tr>
    <td align="center">Address</td><td align="center">{{performance_information['venue_address']}}</td>
  </tr>

  <tr>
    <td align="center">Venue website</td><td align="center">{{performance_information['venue_website']}}</td>
  </tr>

  <tr>
    <td align="center">Venue phone</td><td align="center">{{performance_information['venue_phone']}}</td>
  </tr>

  <tr>
    <td align="center">Information</td><td align="center">{{performance_information['additional_information']}}</td>
  </tr>

  <tr>
    <td align="center">Age guidance</td><td align="center">{{performance_information['age_restrictions']}}</td>
  </tr>

</table>
</center>
<hr>

<center>
<h1>Buy/Reserve<br>Tickets</h1>
</centre>
<!-------------------------------------->
<!-- INPUT TICKET NUMBERS AND DETAILS -->
<!-------------------------------------->
<!------------------------------------------------>
<!-- FORM SELECT THE NUMBER AND TYPE OF TICKETS -->
<!------------------------------------------------>

<center>
<form
  method="get"
  action="/buy_tickets#name">
  <!-- Hidden -->

  {{ self.form_hidden_fields() }}

  {% for item in get_products_selected %}
    <br>
    {{item['item']}}:
    £{{item['price_for_item']}}
    <br>
    <!-- Number of tickets required input box -->
    <input value="{{item['number_of_item']}}" type ="number" name="{{item['item']}}" min="0">
    <br>
  {% endfor %}
  <!-- Button -->
  <input type="submit" value="Next">
</form>
</center>
<hr>

<!--------------------------------->
<!--- Name to appear on tickets --->
<!--------------------------------->
<center>
<h2 id="name"><a>
Name
</a></h2>

<form
  action="/buy_tickets#Basket"
  method="get">

  <!-- Hidden -->
  {{ self.form_hidden_fields() }}


  Name you want to appear on the tickets:
  <br>
  <input type="text" name="name_on_ticket_name" value="{{name_on_ticket_value}}">
  <br>

  <!-- Button -->
  <input type="submit" value="Next">
</form>
</center>
<hr>

<!------------>
<!-- BASKET -->
<!------------>
<center>
<h2 id="Basket">Basket</h2>

<table align="center" border="1">
  <!-- Row 1 -->
  <tr>
    <!-- Col 1 --> <td>#</td>
    <!-- Col 2 --> <td>Items</td>
    <!-- Col 3 --> <td>Name</td>
    <!-- Col 4 --> <td>Price(£)</td>
    <!-- Col 5 --> <td>Cost(£)</td>
  </tr>

  {% for item in basket_list %}
    <tr>
    <!-- Col 1 --> <td>{{item['number_of_item']}}</td>
    <!-- Col 2 --> <td>{{item['item_description']}}</td>
    <!-- Col 3 --> <td>{{item['your_description']}}</td>
    <!-- Col 4 --> <td align="center">{{item['price']}}</td>
    <!-- Col 5 --> <td align="center">{{item['cost']}}</td>
    </tr>
  {% endfor %}

  <!-- Final row -->
  <tr>
    <!-- Col 1 - 4 --> <td colspan="4" align="center">TOTAL(£)</td>
    <!-- Col 5 --> <td align="center">{{total_cost_value}}</td>
  </tr>
</table>
</center>

<!-- Form, go to pay button -->
<center>
<form
  action="/buy_tickets#Payment"
  method="{{html_form_method}}">

  <!-- Hidden -->
  {{ self.form_hidden_fields() }}

  <!-- Submit -->
  <input type="submit" value="Go To Payment">
</form>
</center>
<hr>


<!------------->
<!-- PAYMENT -->
<!------------->
<center>
<h2 id="Payment">Payment</h2>

<!-- Note, the JavaScript appends the stripe token to this form -->
<form action="{{payment_form_action}}"
  method="POST" id="payment-form"
  novalidate autocomplete="on"
  class="form-horizontal">

  <!-- Hidden -->
  {{ self.form_hidden_fields() }}

  <p>
     <span class="text-error" style="text-align:center;">
     <span class="payment-errors"></span></span>
  </p>

  <div class="control-group">
    <label class="control-label">
      <span>
        Amount: £{{total_cost_value}}
      </span>
    </label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><br></span>
      </div>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label">
		<span>Description: <br> {{description}} <br> <br> </span>
        <span>Name on tickets: <br> {{name_on_ticket_value}} <br> <br> </span>
	</label>
  </div>

  <!-- CONDITIONAL -->
  {% if is_input_pay_details %}
  <div class="control-group">
	<label class="control-label">
		<span>Your Name:</span>
	</label>
	<div class="controls">
		<input type="text"
          class="input-large"
          id="contributorname"
          name="contributorname"
          maxlength="50"
          value="{{default_name}}"
          required />
	</div>
  </div>

  <div class="control-group">
	<label class="control-label">
	  <span>Card Number:</span>
	</label>
	<div class="controls">
		<input type="text"
          class="input-large cc-number"
          pattern="\d*"
          x-autocompletetype="cc-number"
          maxlength="20"
          data-stripe="number"
          required
          value="{{default_card_number}}"
        />
	</div>
  </div>

  <div class="control-group">
	<label class="control-label">
	  <span></span>
	</label>
	<div class="controls"> CVC:
		<input type="text"
          class="input-mini cc-cvc"
          pattern="\d*"
          x-autocompletetype="cc-csc"
          autocomplete="off"
          size="4"
          maxlength="4"
          data-stripe="cvc"
          value="{{default_cvc}}"
          required
          />
	</div>
  </div>

  <div class="control-group">
	<label class="control-label">
		<span>Expiration (MM/YYYY)</span>
	</label>
	<div class="controls">
		<input type="text"
          class="input-mini cc-exp-month"
          data-numeric
          size="2"
          maxlength="2"
          data-stripe="exp-month"
          value="{{default_expiration_month}}"
          required/>
          <span> / </span>
            <input type="text"
              class="input-small cc-exp-year"
              size="4"
              data-numeric maxlength="4"
              data-stripe="exp-year"
              value="{{default_expiration_year}}"
              required/>
	</div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"></span>
        </div>
      </div>
  </div>
{% endif %}
  <div class="control-group">
    <label class="control-label"></label>
      <div class="controls">
        <button type="submit" {{pay_button_state}} class="btn btn-success">
          Pay
        </button>
      </div>
  </div>
</form>
</center>
<hr>

<h2 id="processed">Processed</h2>

{% for m in processed_message['messages_list'] %}
  <li>{{m}}</li>
{% endfor %}

{{processed_message}}
<hr>

<h2>Ticket List</h2>

{% for item in ticket_list %}
  <li>{{item}}</li>
{% endfor %}
<hr>

</html>
{% endautoescape %}
